
html {
	background: #dadada;
}

#adminmenumain {
	display: none;
}
#wpcontent, #wpfooter,
.folded #wpcontent, .folded #wpfooter {
	margin:     20px 20px 20px 20px;/*180px;*/
	background: #f1f1f1;
}

#wpcontent {
	border: 1px solid #e0e0e0;
}

#wpfooter {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

#tomjnadminhead {
	color: #fafafa;
	background: #23282d;
	padding:      40px 40px 100px;
	margin-bottom:-80px;
}

#tomjnadminhead .xdebug-error,
#tomjnadminhead .xe-notice {
	color: #000;
}
#tomjnadminhead > h2 {
	color: #fafafa;
	font-size: 3em;
}

#tomjnadminhead a {
	color: #fafafa;
	text-decoration: none;
}

.wrap > h2:first-of-type {
	display:block;
	height:0;
	color:transparent;
	margin-bottom: 40px;
	font-size:0;
	padding: 0;
}

.tomjn_admin_top_current_parent {
	font-weight:bold;
}

.tomjn_dash_menu {
	overflow:auto;
}
.tomjn_dash_menu_section {
	width:100%;
	max-width:320px;
	min-width:120px;
	float:left;
	margin-bottom: 20px;
	margin-right: 20px;
}

.tomjn_dash_menu_section ul {
	overfloat:auto;
}
.tomjn_dash_menu_item {
	float:left;
	margin-right:20px;
}